# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files and local secrets
.env*
.dev.vars
.dev.vars.*

# vercel
.vercel

# typescript
next-env.d.ts
*.tsbuildinfo
